* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.barra {
  background-color: #f6d7a7;
}
h3 {
  color: #88aaaa;
}
h5 {
  margin: 10%;
  color: rgb(95, 93, 93);
}
.menu {
  padding-left: 246px;
}
/* .modular {
  width: 20%;
} */
.contador{
  display: flex;
  align-items: center;
}
.card{
  margin: 3%;
 
}
.tarjeta {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 
