* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.barra {
  background-color: #f6d7a7;
}
h3 {
  color: #88aaaa;
}
h5 {
  margin: 10%;
  color: rgb(95, 93, 93);
}
.menu {
  padding-left: 246px;
}
/* .contador{
  display: flex;
  align-items: center;
} */
.card{
  margin: 3%;
 
}
.tarjeta {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 
.contador{
  font-size: 1.2em;
  border:none;
  border-radius: none;
  background-color: transparent;
  align-items: center;
}
.onAdd{
  width: 100%;
  background-color:#88aaaa;
  color:black;
  border-bottom: 100%;
  border-color: black;
  cursor: pointer;
}
.agregrar{
  width: 100%;

  color:rgb(63, 63, 63);
  border-bottom: 100%;
  border-color: rgb(63, 63, 63);
  background-color: #848686;
}
.cart{
  width: 100%;
  background-color:#f3332cfa;
  color:black;
  border-bottom: 100%;
  border-color: black;
  cursor: pointer;
}
.card-body{
  font-size: 1.1em;
  text-align: center;
}
.buttonDetail{
  color: rgba(9, 37, 37, 0.377);
  
}
.detalle{
  font-size: 1em;
  text-align: center;

}
.detalle:hover {
  transform: scale(1.4, 1.4);
 }
 .cartDetail{
   /* display: flex; */
   position: relative;
   bottom: 18em;
   left: 310%;
  }