.App {
  text-align: center;
}
.barra{
  background-color: #F6D7A7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .menu{
  color: #88aaaa;
} */
h3{
  color: #88aaaa;

}
h5{
  margin: 10%;
  color: rgb(95, 93, 93);
}
.menu{
  padding-left: 246px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
